<div class="card">
    <div class="card-header">
        <h1>Omnicare</h1>
        <span>Inicia sesión para acceder al sistema</span>
    </div>
    <form [formGroup]="loginForm" (submit)="submit()">
        <div class="card-body">
            <div class="form-group">
                <input type="email" formControlName="email" placeholder="Correo Electrónico">
            </div>
            <div class="form-group">
                <input type="password" formControlName="password" placeholder="Contraseña">
            </div>
        </div>
        <div class="card-footer">
            <button class="button-primary" type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button>
        </div>
    </form>
</div>